body{
  background-image: url("images/team.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  margin: 200px;
  text-align: center;
}
.card-title {
  background-color: blue;
}
